<% content_for :head do %>
  <meta http-equiv="refresh" content="5; URL=<%= counters_path %>">
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Totalup:</strong>
  <%= @counter.totalup %>
</p>

<p>
  <strong>Totaldown:</strong>
  <%= @counter.totaldown %>
</p>

<%= link_to 'Edit', edit_counter_path(@counter) %> |
<%= link_to 'Back', counters_path %>
